!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/db/sphinx/*
/config/*.sphinx
/log/*
/public/system
/public/assets
/public/sitemap.*
/tags
/tmp/*
/vendor/assets/javascripts/bower_components/

config/deploy.backup
config/deploy/staging
config/deploy/production
