.modal-dialog {
  width: 85%;
}

.modal-header {
  background-color: rgba(0,0,0,0.04);
}

#modal {
  $padding: 1em;

  background-color: rgba(0,0,0,0.3);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  z-index: 1000000;

  button.close {
    position: relative;
    top: -0.8em;
  }
  .panel {
    width: 60%;
    margin: 10%  auto 0;
  }
}